<nav>
  <ul saSmartMenu >
    <li routerLinkActive="active" *ngFor="let element of sidebar_elements"  >
      <a  
      title="{{element.title}}"
      class="{{element.class}}"
      id="{{element.id}}"
      routerLink="{{element.link.commands[0]}}"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}"
      >
      <!--<a  title="{{element.title}}" class="{{element.class}}" id="{{element.id}}" (click)="navigate(element)" >-->
        <span class="{{element.clase_menu}}"><i class="{{element.imagen}}"></i> {{element.title }}</span>
      </a>
      <ul *ngIf="element.hasChilds">
        <li routerLinkActive="active" *ngFor="let child of element.childs">
          <a routerLink="/{{child.link.commands[0]}}" title="{{child.title}}" class="{{child.class}}" id="{{element.id}}" >
            <span class="{{child.clase_menu}}"> <i class="{{child.imagen}}"></i> {{child.title}}</span>
          </a>
        </li>
      </ul>
    </li>

  </ul>
</nav>