<app-input-radiobutton *ngIf="type === enum.radiobutton" [data]="data"  [options]="options"></app-input-radiobutton>
<app-input-checkbox *ngIf="type === enum.checkbox" [data]="data"  [options]="options"></app-input-checkbox>
<app-input-text *ngIf="type === enum.text" [data]="data" [options]="options"></app-input-text>
<app-input-number *ngIf="type === enum.number" [data]="data"  [options]="options"></app-input-number>
<app-input-email *ngIf="type === enum.email" [data]="data"  [options]="options"></app-input-email>
<app-input-password *ngIf="type === enum.password" [data]="data"  [options]="options"></app-input-password>
<app-input-phone *ngIf="type === enum.phone" [data]="data"  [options]="options"></app-input-phone>

<app-input-millar *ngIf="type === enum.millar" [data]="data"  [options]="options"></app-input-millar>
<app-input-hidden *ngIf="type === enum.hidden" [data]="data"  [options]="options"></app-input-hidden>
<app-input-reset *ngIf="type === enum.reset" [data]="data"  [options]="options"></app-input-reset>
<app-input-submit *ngIf="type === enum.submit" [data]="data"  [options]="options"></app-input-submit>
<app-input-file *ngIf="type === enum.file" [data]="data"  [options]="options"></app-input-file>
<app-input-hidden *ngIf="type === enum.file" [data]="data"  [options]="options"></app-input-hidden>-->

