<div *ngIf="startUpId != null"  class="login-info">
    <!--<span *ngIf="user?.picture"><a (click)="toggleShortcut()">
       <img [src]="user.picture" alt="me"
            class="online"/><span>{{user.username }}</span> <i class="fa fa-angle-down"></i>
      </a>
      {{user.username }}
     </span>-->
     <span class="logInfo" style="font-weight:600">
     {{startUpId }}
    </span>
  </div>
<div class="login-info">
  <!--<span *ngIf="user?.picture"><a (click)="toggleShortcut()">
	   <img [src]="user.picture" alt="me"
          class="online"/><span>{{user.username }}</span> <i class="fa fa-angle-down"></i>
    </a>
    {{user.username }}
   </span>-->
   <span class="logInfo" style="font-size:14px">
   {{user}}
  </span>
</div>

