        <ngx-datatable
        #table
        class="material ngx-datatable fixed-header"
        [rows]='rows'
        [columns]='columns'
        [columnMode]="'force'"
        [headerHeight]='40'
        [footerHeight]='50'
        [rowHeight]='"auto"'
        [reorderable]="false"
        [loadingIndicator]="loading"
        [scrollbarH]="true"
        [limit]="pageSize"
        [cssClasses]="
        {
        sortAscending: 'fa fa-caret-up',
        sortDescending: 'fa fa-caret-down',
        pagerLeftArrow: 'fa  fa-angle-left',
        pagerRightArrow: 'fa fa-angle-right',
        pagerPrevious: 'fa fa-angle-double-left',
        pagerNext: 'fa fa-angle-double-right'
        }"
        >
        </ngx-datatable>

       
        
        <app-columns 
        [columns]="columns"
        [rows]="rows"
        >
        </app-columns>