.ngx-datatable {
    border-radius: 4px;
}

.ngx-datatable .datatable-header {
    /* background-color: #eee; */
    color: white;
    background: linear-gradient(180deg, #f2f2f2, #fafafa);
    position: relative;
    background: transparent;
}

.ngx-datatable div .datatable-header {
    background-color: #0ac0ea;
    font-weight: 700!important;
}

.ngx-datatable .datatable-header-cell {
    font-weight: bold;
    padding: 0;
    min-height: 40px;
    text-align: left;
    vertical-align: top;
    border-top: 0;
    transition: width 0.3s ease;
    vertical-align: middle;
    font-size: 11px;
    line-height: 40px;
    position: relative;
    border: 1px solid #ddd;
    border-left-width: 0;
}

.ngx-datatable .datatable-body-cell {
    user-select: text !important;
    line-height: 1.5;
    background: #f2f2f2;
    border-right: 2px solid #ccc;
}

.ngx-datatable .datatable-header-cell>div {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    color: white !important;
    font-size: 14px;
    width: inherit;
    text-align: center;
}

.ngx-datatable.fixed-header .datatable-header .datatable-header-inner, .ngx-datatable .datatable-row-center {
    height: inherit;
    width: inherit;
}

/*
    Body STYLES 
*/

.datatable-body-cell button {
    color: #0ac0ea;
    font-size: 15px;
    border-radius: 6px;
}

.datatable-row-center .datatable-body-cell {
    text-align: left;
    padding: 0.8rem 1.2rem 0.5rem;
    vertical-align: top;
    transition: width 0.3s ease;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.datatable-row-center .datatable-body-cell:first-child {
    border-left: 1px solid #ddd;
}

.table-striped>tbody>tr:nth-child(2n + 1)>td, .table-striped>tbody>tr:nth-child(2n + 1)>th {
    background-color: red;
}

.datatable-body .datatable-row-detail {
    padding: 1rem 4rem;
    background: rgba(200, 200, 200, 0.2);
    position: relative;
}

.datatable-body .empty-row {
    padding: 1rem 4rem;
    background: rgba(200, 200, 200, 0.2);
    position: relative;
}

.datatable-body .datatable-row-detail>div {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.table-striped .datatable-body .datatable-row-wrapper:nth-of-type(odd) {
    background: transparent !important;
    /* background-color: black !important;*/
}

.table-striped .datatable-body .datatable-row-wrapper:nth-of-type(even) {
    background: transparent !important;
    /* background-color: #ffffff; */
}

/**
    * Footer Styles
    */

.datatable-footer {
    /* background: #fafafa; */
    background: transparent !important;
    /* display: none !important;*/
}

.datatable-footer .datatable-footer-inner {}

.datatable-footer .page-count {
    font-size: 13px;
    font-weight: 700;
    font-style: italic;
    color: #969696;
    padding: 0.3rem 1.2rem 0.3rem;
}

.datatable-footer .datatable-pager {
    padding: 0.3rem 1.2rem 0.3rem;
}

.datatable-footer .datatable-pager ul {
    overflow: hidden;
}

.datatable-footer .datatable-pager ul li {
    float: left;
    display: block;
    border-radius: 0;
    border: none;
    margin: 0 -1px 0 0;
}

.datatable-footer .datatable-pager ul li a {
    width: 100%;
    border-radius: 0;
    margin: 0;
    padding: 7px 13px;
    border: 1px solid rgba(200, 200, 200, 0.4);
    border-right-width: 0;
}

.datatable-footer .datatable-pager ul li:last-child {
    border-right: 1px solid rgba(200, 200, 200, 0.4);
}

.datatable-footer .datatable-pager ul li.active a {
    background: #3276b1;
    border: 1px solid #3276b1;
    border-right-width: 0;
    color: white;
}

.lightest-gray-bg {
    background: #fafafa;
}

.row-selected {
    background: #3276b1;
}