/*.active-link{
    background-color: #037c9e;
}*/

.not-active{
    pointer-events: none;
    cursor: default;
}

a.active{
    color: #FFD600;
}

.aside{
    /*background-image: url("../../../../assets/img/emprende-up/lado_vertical.png") !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;*/
}