.mt18 {
    margin-top: 18px;
}

.ml10 {
    margin-left: 10px;
}

.ml66por {
    margin-left: 66%;
}

.ml15 {
    margin-left: 15px;
}

.mr15 {
    margin-right: 15px;
}

.ml30{
    margin-left: 30px;
}

.mr30{
    margin-right: 30px;
}

.mr36 {
    margin-right: 36px;
}

.mt39 {
    margin-top: 39px;
}

.mb39 {
    margin-bottom: 39px;
}

.mb0{
    margin-bottom: 0px !important;
}

.mt10{
    margin-top: 10px !important;
}

.mt13{
    margin-top: 13px;
}

.mt15{
    margin-top: 15px;
}

.mt_24{
    margin-top: -24px;
}

.mb_25{
    margin-bottom: 25px;
}

.m0{
    margin: 0 !important;
}

.mt_40{
    margin-top: 40px;
}

