<ng-container *ngIf="data.isRequired === true">
    <input type="email" id="{{data.id}}" name="{{data.id}}" [(ngModel)]="data.value" placeholder="{{data.placeholder}}" class="{{data.class}}"
        pattern="[a-zA-Z0-9]+([.][a-zA-Z0-9]+)*@[a-zA-Z0-9]+([.][a-zA-Z0-9]+)*[.][a-zA-Z0-9]{1,40}" title="{{options.title}}" [disabled]="!data.isSeteable" (input)="operation()" required>
</ng-container>
<ng-container *ngIf="data.isRequired === false">
    <input type="email" id="{{data.id}}" name="{{data.id}}" [(ngModel)]="data.value" placeholder="{{data.placeholder}}" class="{{data.class}}"
    pattern="[a-zA-Z0-9]+([.][a-zA-Z0-9]+)*@[a-zA-Z0-9]+([.][a-zA-Z0-9]+)*[.][a-zA-Z0-9]{1,40}" title="{{options.title}}" [disabled]="!data.isSeteable" (input)="operation()">
</ng-container>