#titleHeader{
    font-size: 24px;
    padding-top: 10px;
    position: relative;
    text-align: center;
    color:white;
    margin-top: 8px;
    padding-left: 16%;
}

@media all and (min-width: 768px){
    #titleHeader{
        font-size: 15px;
        padding-left: 0;
    }
    .grupoOpcionesHeader{
        top: 10px;
    }
    #headerContenido{
        width: calc(100% - 250px) !important;
    }
}

@media all and (min-width: 0px) and (max-width:767px){
    #titleHeader{
        font-size: 20px;
    }
    .grupoOpcionesHeader{
        top: 0;
    }
    #headerContenido{
        width: 100% !important;
        display: -webkit-box;
    }
    #imageHeader{
        margin: 0 auto;
    }

}


.imglogoUp{
    height: 75%;
    width: 70%;
    margin: 10px 15%;
}

#imageHeader{
    width: 250px;
}

#headerContenido{
    width: calc(100% - 250px);
}

.backHeader{
    /*background-image: url("../../../../assets/img/emprende-up/lado_horizontal.png") !important;
    background-repeat: no-repeat  !important;
    background-size: 100% 100%  !important;*/
}

.grupoOpcionesHeader{
    position: relative;
    top: 10px;
}

